*{
    margin: 0;
    padding: 0;  
}
body {
    min-width: 320px;
    max-width: 750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}

/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}


.search{
    background-color: #f2f2f2;
    width: 10rem;
    height: 0.987rem;
    display: flex;
    align-items:center;/*垂直居中*/
}
/*justify-content: center;水平居中*/

.img_pic{
    width: 0.987rem;
    height: 0.987rem;
    margin-left: 0.213rem;
    margin-right: 0.213rem;
}

.search_form_base{
    width: 7.493rem;
    height: 0.747rem;
    border: 0;
    background-color: #ffffff;
    align-items:center;/*垂直居中*/
    display: flex;
}

.search_form_pic{
    width: 0.48rem;
    height: 0.48rem;
    margin-left: 0.133rem;
    margin-right: 0.133rem;
}

.search_form_input{
    background-color: #ffffff;
    border:0;
    width: 6.915rem;
    outline: none;
    font-size: 0.32rem;
}

.search_span{
    width: 0.96rem;
    font-size: 0.32rem;
    color: #000000;
    text-align: center;
}

.div_top_cate{
    width: 10rem;
    height: 1.627rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.div_top_cate_item{
    width: 1.12rem;
    height: 1.627rem;
    margin-top: 0.106rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_top_cate{
    width: 1.12rem;
    height: 1.12rem;
}

.span_top_cate{
    width: 1.307rem;
    height: 0.48rem;
    color: #000000;
    text-align: center;
    font-size: 0.32rem;
}

.swiper-container {
    width: 100%;
    height: 4rem;
}  

.div_mid_cate{
    width: 10rem;
    height: 0.8rem;
    background-color: #ffffff;
    margin-top: 0.08rem;
    display: flex;
    justify-content: space-around;
}

.div_mid_cate_item{
    height: 0.64rem;
    width: 2.133rem;
    background-color: #A6CBFA;
    border-radius: 0.053rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #ccc 2px 2px 10px;
}

.img_mid_cat{
    width: 0.48rem;
    height: 0.48rem;
}

.span_mid_cate{
    font-size: 0.32rem;
    color: #ffffff;
    text-align: center;
    margin-left: 0.027rem;
    font-weight: bold;
    text-shadow: #000 1px 1px 1px;
}

.div_bottom_cate_list{
    width: 10rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-content: space-around;
}
.div_bottom_goods_item{
    width: calc(50% - 10px);
    height: 6.933rem;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 0.053rem;
    box-shadow: #ccc 2px 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.img_bottom_goods_item{
    width: 4.08rem;
    height: 4.293rem;
}

.div_innner_bottom_group{
    width: 4.08rem;
    position: absolute;
    bottom: 0.213rem;
}

.span_bottom_goods_title_item{
    width: 4.107rem;
    height: 0.88rem;
    display: inline-block;
    font-size: 0.32rem;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

.div_bottom_item_price{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
}

.span_bottom_price{
    width: 1.52rem;
    height: 0.641rem;
    line-height: 0.641rem;
    border: orange solid 0.026rem;
    font-size: 0.427rem;
    color: orange;
    text-align: center;
    font-weight: bold;
    border-top-left-radius:  0.053rem;
    border-bottom-left-radius:  0.053rem;
}
.span_bottom_tip{
    width: 1.033rem;
    height: 0.693rem;
    line-height: 0.693rem;
    background-color: orange;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-top-right-radius:  0.053rem;
    border-bottom-right-radius:  0.053rem;
}