
*{
    margin: 0 ;
    padding: 0;  
}
body {
    min-width: 320px;
    max-width: 750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}

/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}

.toolbar{
    width: 10rem;
    height: 1.067rem;
    line-height: 1.067rem;
    position: relative;
}

.img_back{
    width: 0.533rem;
    height: 0.533rem;
}

.title{
    font-size: 0.373rem;
    color: #101010;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.save{
    font-size: 0.32rem;
    color: #101010;
    position: absolute;
    right: 0.267rem;
}

.img_add_person{
    width: 0.533rem;
    height: 0.533rem;
}

.person_info{

}
.bg_yellow{
    height: 2.613rem;
}
.ic_header{
    width: 2.4rem;
    height: 2.4rem;
    margin-top: -1.413rem;
    border-radius: 10rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    font-size: 0.373rem;
    color: #101010;
    text-align: center;
    margin-top: 1.4rem;
}

.order_info{
    display: flex;
    justify-content: space-around;
    margin-top: 0.373rem;
}
.order_huozan{
    font-size: 0.373rem;
    color: #101010;
    font-weight: bold;
}
.order_guanzhu{
    font-size: 0.373rem;
    color: #101010;
    font-weight: bold;
}
.order_fensi{
    font-size: 0.373rem;
    color: #101010;
    font-weight: bold;
}

.small_title{
    font-size: 0.32rem;
    color: #888585;
    margin-left: 0.533rem;
}

.small_line{
    width: 100%;
    height: 0.053rem;
    background-color: #dfdfdf;
    margin-top: 0.08rem;
    margin-left: 0.32rem;
    margin-right: 0.32rem;
}

.edit_info{

}
.edit_div_1{
    margin-top: 0.373rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0.907rem;
    margin-right: 0.32rem;
}
.edit_left_1{
    display: inline-block;
    font-size: 0.32rem;
    color: #000000;
}
.edit_right_1{
    font-size: 0.32rem;
    color:#A0A0A0;
}
.red_font{
    font-size: 0.32rem;
    color: #f00;
}
.sel{
    color: #A0A0A0;
    font-size: 0.32rem;
    border: #bbb solid 0.027rem;
    width: 1.44rem;
    height: 0.533rem;
}

.has_pet_count{
    margin-left: 0.32rem;
    font-size: 0.373rem;
    color: #101010;
    margin-top: 0.533rem;
}
.has_pet{
    display: flex;
    align-items: center ;
    padding-left: 0.72rem;
}
.has_pet_span{
    font-size: 0.373rem;
}
.has_pet_list{
    display: flex;
    align-items: center;
}
.has_pet_item_base{
    margin-left: 0.16rem;
    align-items: center;
}
.sel_pic_item{
    width: 1.6rem;
    height: 1.6rem;
}
