
*{
    margin: 0 ;
    padding: 0;  
}
body {
    min-width: 320px;
    max-width: 750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}

/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}

.toolbar{
    width: 10rem;
    height: 1.067rem;
    line-height: 1.067rem;
    position: relative;
}

.img_back{
    width: 0.533rem;
    height: 0.533rem;
}

.title{
    font-size: 0.373rem;
    color: #101010;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.small_line{
    width: 10rem;
    height: 0.026rem;
    background-color: #bbb;
}

.line{
    width: 10rem;
    height: 0.08rem;
    background-color: #888585;
}

.div_comment{
    margin: 0.107rem 0.4rem;
}

.div_tip1_comment{
    display: flex;
    justify-content: space-between;
}

.div_shangpinpingjia{
    font-size: 0.32rem;
    color: #101010;

}
.div_haopinglv{
    font-size: 0.32rem;
    color: #888585;
}

.comment_tip1{
    font-size: 0.32rem;
    color: #fff;
    background-color: #97FF7C;
    border-radius:  1rem;
    padding: 0  0.213rem;
    margin-left: 0.106rem;
}

.comment_tip2{
    font-size: 0.32rem;
    color: #fff;
    background-color: #FF7C7C;
    border-radius:  1rem;
    padding: 0  0.213rem;
    margin-left: 0.106rem;
}

.comment_tip{
    height: 0.53rem;
    line-height: 0.53rem;
    margin: 0 0;
    display: flex;
    align-items: center;
}

.comment_tip3{
    font-size: 0.32rem;
    color: #fff;
    background-color: #FF7C7C;
    border-radius:  1rem;
    padding: 0  0.213rem;
    margin-left: 0.106rem;
}
.comment_tip4{
    font-size: 0.32rem;
    color: #fff;
    background-color: #4F99FA;
    border-radius:  1rem;
    padding: 0  0.213rem;
    margin-left: 0.106rem;
}

.comment_module{
    margin: 0.107rem 0.4rem;
}
.img_comment_header{
    width: 0.533rem;
    height: 0.533rem;
    border-radius: 1rem;
}
.comment_module_line1{
    display: flex;
    align-items: center;
    position: relative;
}
.comment_name{
    font-size: 0.32rem;
    color: #000;
    margin-left: 0.133rem;
}
.comment_star{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.img_comment_star{
    width: 0.267rem;
    height: 0.267rem;
}
.comment_module_line2{
    display: block;
    font-size: 0.32rem;
    color: #bbb;
    margin-left: 0.693rem;
}
.comment_module_line3{
    display: block;
    font-size: 0.32rem;
    color: #000;
    margin-left: 0.693rem;
}
.div_handle{
    display: flex;
    justify-content: end;
    margin-right: 0.267rem;
}
.div_message{
    display: inline-flex;
    align-items: center;
}
.span_message{
    font-size: 0.34rem;
    color: #888585;
}
.img_message{
    width: 0.347rem;
    height: 0.347rem;
    margin-left: 0.053rem;
}
.div_heart{
    display: inline-flex;
    align-items: center;
    margin-left: 0.4rem;
}
.span_heart{
    font-size: 0.34rem;
    color: #888585;
}
.img_heart{
    width: 0.347rem;
    height: 0.347rem;
    margin-left: 0.053rem;
}