
*{
    margin: 0 ;
    padding: 0;  
}
body {
    min-width: 320px;
    max-width: 750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}

/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}

.toolbar{
    width: 10rem;
    height: 1.067rem;
    line-height: 1.067rem;
    position: relative;
}

.img_back{
    width: 0.533rem;
    height: 0.533rem;
}

.title{
    font-size: 0.373rem;
    color: #101010;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.save{
    font-size: 0.32rem;
    color: #101010;
    position: absolute;
    right: 0.267rem;
}

.input_div{
    text-align: center;
}
.medicine_name{
    width: 8rem;
    height: 1.067rem;
    line-height: 1.067rem;
    background-color: #F7F7FB;
    font-size: 0.373rem;
    color: #888888;
    border-style: none;
    padding: 0.08rem 0.16rem;
}
.input_title{
    margin-left: 1.067rem;
    margin-top: 0.427rem;
    color: #888588;
    font-size: 0.373rem;
}
.m_height2{
    height: 2.667rem;
}
.m_height3{
    height: 2.667rem;
}

.small_title{
    font-size: 0.32rem;
    color: #101010;
    margin-left: 0.533rem;
    margin-top: 0.213rem;
    font-weight: bold;
}

.small_line{
    width: 100%;
    height: 0.053rem;
    background-color: #dfdfdf;
    margin-left: 0.32rem;
    margin-right: 0.32rem;
}

.edit_div_1{
    display: flex;
    justify-content: space-between;
    margin-left: 0.907rem;
    margin-right: 0.32rem;
}
.edit_left_1{
    display: inline-flex;
    font-size: 0.32rem;
    color: #000000;
    align-items: center;
}
.sel_out{
    display: inline-block;
}
.span_youjiantou{
    font-size: 0.373rem;
    color: #888888;
}
.edit_right_1{
    font-size: 0.32rem;
    color:#A0A0A0;
}
.red_font{
    font-size: 0.32rem;
    color: #f00;
}
.sel{
    color: #A0A0A0;
    font-size: 0.32rem;
    border: #bbb solid 0.027rem;
    width: 1.44rem;
    height: 0.533rem;
}

.has_pet_list{
    margin-top: 0.08rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.has_pet_item_base{
    margin-left: 0.16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.has_pet_name{
    font-size: 0.32rem;
    display: inline-block;
    height: 0.533rem;
    color: #101010;
    padding-top: 0.107rem;
}
.has_pet_item{
    width: 1.387rem;
    height: 1.387rem;
    border-radius: 5rem;
}
.sel_pic_item{
    width: 1.707rem;
    height: 1.707rem;
}

.bottom_list_pic{
    margin-left: 0.64rem;
    margin-bottom: 0.64rem;
}
