
*{
    margin: 0 ;
    padding: 0;  
}
body {
    min-width: 320px;
    max-width: 750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}

/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}

.toolbar_vcdad{
    width: 10rem;
    height: 1.067rem;
    line-height: 1.067rem;
    position: relative;
    display: flex;
    align-items: center;
}

.img_back_vcdad{
    width: 0.533rem;
    height: 0.533rem;
    line-height: 1.067rem;
}

.title_vcdad{
    font-size: 0.373rem;
    color: #101010;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.img_menu_vcdad{
    width: 0.533rem;
    height: 0.533rem;
    line-height: 1.067rem;
    position: absolute;
    right: 0.267rem;
}

.search_vcdad{
    width: 10rem;
    height: 0.987rem;
    display: flex;
    align-items:center;/*垂直居中*/
}
/*justify-content: center;水平居中*/

.search_form_base_vcdad{
    width: 100%;
    height: 0.747rem;
    border: 0;
    background-color: #f2f2f2;
    align-items:center;/*垂直居中*/
    display: flex;
    margin: 0.213rem 0.427rem;
}

.search_form_pic_vcdad{
    width: 0.48rem;
    height: 0.48rem;
    margin-left: 0.133rem;
    margin-right: 0.133rem;
}

.search_form_input_vcdad{
    background-color: #f2f2f2;
    border:0;
    width: 6.915rem;
    outline: none;
    font-size: 0.32rem;
}

.div_sel_vcdad{
    display: flex;
    justify-content: space-between;
    margin: 0.16rem 0.48rem;
}
.item_left_base_vcdad{
    display: flex;
    justify-self: start;
}
.item_left_vcdad{
    font-size: 0.32rem;
    color: #101010;
    display: flex;
    justify-content: start;
    padding-right: 0.4rem;
}
.item_right_vcdad{
    font-size: 0.32rem;
    color: #101010;
    display: flex;
    justify-content: start;
}
.icon_sel_vcdad{
    width: 0.48rem;
    height: 0.48rem;
    line-height: 0.48rem;
}

.line_vcdad{
    width: 10rem;
    height: 0.053rem;
    background-color: #F0F0F0;
}

.name_title_vcdad{
    color: #101010;
    font-weight: bold;
    font-size: 0.373rem;
    margin-left: 0.426rem;
    margin-top:0.133rem;
}

.person_item_vcdad{
    margin: 0.107rem 0.427rem;
    display: flex;
    justify-content: start;
}
.person_header_vcdad{
    width: 1.467rem;
    height: 1.467rem;
    border-radius: 5rem;
    margin-right: 0.16rem;
}
.persion_name_vcdad{
    font-size: 0.373rem;
    font-weight: bold;
    color: #101010;
}
.person_name_text_vcdad{
    font-size: 0.373rem;
    font-weight: bold;
    color: #101010;
}
.person_name_time_vcdad{
    font-size: 0.32rem;
    color: #F78742;
    background-color: #FDE2CD;
    border-radius: 0.08rem;
    padding: 0.053rem 0.16rem;
}
.person_name_other_vcdad{
    font-size: 0.373rem;
    color: #888;
    margin-top: 0.16rem;
}

.div_count_vcdad{
    display: flex;
    justify-content: space-around;
}
.div_name_count1_vcdad{

}
.div_name_count1_1_vcdad{
    font-size: 0.32rem;
    color: #101010;
}
.div_name_count1_2_vcdad{
    font-size: 0.48rem;
    font-weight: bold;
    color: #101010;
}

.div_pos_title_vcdad{
    font-size: 0.32rem;
    color: #888;
    margin: 0.107rem 0.427rem;
}

.card_vcdad{
    margin: 0.08rem 0.267rem;
    padding: 0.32rem;
    box-shadow: #888 2px 2px 2px;
}

.div_wenzhen_vcdad{
    display: flex;
    justify-content: space-around;
}
.div_wenzhen_item_vcdad{
    display: flex;
    justify-content: start;
    align-items: center;
}
.div_wenzhen_item_q_vcdad{
    font-size: 0.32rem;
    color: #888;
}
.div_wenzhen_item_a_vcdad{
    font-size: 0.373rem;
    color: #F78742;
    font-weight: bold;
}
.btn_span_wenzhen_vcdad{
    font-size: 0.32rem;
    color: #fff;
    background-color: #46BF6D;
    width: 1.92rem;
    height: 0.64rem;
    line-height: 0.64rem;
    text-align: center;
    border-radius: 5rem;
    box-shadow: #888 2px 2px 4px;
}